@font-face {
    font-family: 'ArialRegular';
    src: url('../fonts/ArialRegular/ArialRegular.eot');
    src: url('../fonts/ArialRegular/ArialRegular.eot?#iefix')format('embedded-opentype'), url('../fonts/ArialRegular/ArialRegular.woff') format('woff'), url('../fonts/ArialRegular/ArialRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/Lucida%20Sans%20Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Black';
    src: url('../fonts/Arial%20Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tip {
    position: relative;
    width: 911px;
    margin: 0 auto;
}

.top-header {
    margin-top: 18px;
    font-size: 0;
}

.top-header > img {
    margin: 4px 3px 0 8px;
}

.phone-numbers {
    display: inline-block;
    font-family: 'ArialMT', Tahoma, sans-serif;
    font-size: 18px;
    color: #5e696d;
    vertical-align: top;
    line-height: 30px;
    letter-spacing: .45px;
    transform: scale(1, .99);
}

.snowman {
    display: inline-block;
    width: 495px;
    height: 25px;
    margin: 0 0 0 16px;
    vertical-align: top;
    background-image: -moz-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 #a6c3cf, 2px 1px 3px 0 #b9b9b9, 0 3px 3px 0 rgba(150, 150, 150, .75), -1px 0 0 0 #d4dce3;
}

.snowman > img {
    margin: 5px 4px 0 7px;
}

.login, .password {
    border-top: 1px solid #ebeced;
    border-right: 1px solid #d0d3d4;
    border-bottom: 1px solid #dee0e0;
    border-left: 1px solid #e7e9e9;
    box-shadow: 0 -1px 0 0 #82949c, 1px 0 0 0 #124468, 0 1px 0 0 #6c7e8c, -1px 0 0 0 #7b8c96;
    width: 108px;
    height: 12px;
    margin: 4px 8px 0 0;
    font-family: 'Lucida Sans Unicode';
    font-size: 10.91px;
    padding: 0 0 2px 3px;
    vertical-align: top;
}

.submit, .register, .forgot-password {
    overflow: visible;
    display: inline;
    margin-top: 8px;
    padding: 0;
    border: 0;
    line-height: 10px;
    font-family: 'Lucida Sans Unicode';
    font-size: 10.91px;
    color: #fff;
    background: transparent;
    vertical-align: top;
    letter-spacing: -.2px;
    cursor: pointer;
}

.submit {
    border-right: 1px solid #fff;
    padding-right: 5px;
    border-color: #d2d8dd;
}

.register {
    padding-left: 5px;
}

.forgot-password {
    margin: 6px 0 0 21px;
    font-size: 12px;
    color: #bfbfbf;
    line-height: 12px;
    letter-spacing: 0;
    border-bottom: 1px solid #36526e;
    box-shadow: 0 1px 0 0 #7c8794;
    transform: scale(1, .94);
}

.top-menu {
    width: 909px;
    height: 31px;
    margin: 0 auto;
    margin-top: 6px;
    margin-left: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(13, 22, 66);
    border-radius: 4px;
    /* background-image: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(44, 48, 52) 87%, rgb(87, 96, 104) 100%);*/
    background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(44, 48, 52) 87%, rgb(87, 96, 104) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(44, 48, 52) 87%, rgb(87, 96, 104) 100%);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .75);
}

.menu-items {
    width: 505px;
    height: 24px;
    margin: 3px 0 0 125px;
    float: left;
    list-style: none;
    line-height: 24px;
}

.menu-items li {
    height: 24px;
    display: inline-block;
    padding: 2px 0;
    line-height: 24px;
    font-family: 'Lucida Sans Unicode', Lucida;
    font-size: 13.64px;
    text-transform: uppercase;
}

.menu-items li a {
    display: inline-block;
    padding: 0 13px;
    text-decoration: none;
    color: #fff;
}

.menu-items li:nth-child(1) a {
    padding: 0 18px 0 21px;
}

.menu-items li:last-child a {
    padding: 0 10px;
}

.menu-items li:hover {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 25px;
    background-image: -moz-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    border-top: 1px solid #25617b;
    border-bottom: 1px solid #09233b;
    border-radius: 13px;
}

.navigation {
    width: 75px;
    height: 19px;
    display: inline-block;
    margin: 1px 0 0 17px;
    border: 1px solid #c1c8cb;
    border-radius: 10px;
    line-height: 19px;
    vertical-align: top;
    box-shadow: 1px 1px 3px 0 #d0d5d6;
}

.navigation a, img {
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
}

.home {
    margin: 2px 4px 0 8px;
}

.site {
    margin: 4px;
}

.email {
    margin: 4px;
}

.tip > img {
    display: block;
    margin: 0 auto;
}

.sum, .top-menu span, .item-count, .top-menu img {
    display: inline-block;
    float: right;
    line-height: 32px;
}

.sum, .item-count {
    margin: 0 12px 0 11px;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: .4px;
}

.item-count {
    margin: 0 11px 0 2px;
}

.top-menu span {
    margin: 0 0 0 3px;
    font-family: Arial;
    font-size: 11px;
    color: #8a9296;
    line-height: 30px;
    letter-spacing: .4px;
}

.top-menu > img {
    margin: 7px 4px;
}

.catalogue {
    position: relative;
    float: left;
}

.bg-catalogue, .bg-tires, bg-brands {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 100px;
}

.bg-catalogue {
    overflow: hidden;
}

.bg-tires {
    left: 190px;
}

.bg-brands {
    left: 526px;
    background-color: #fff;
}

.catalogue {
    width: 182px;
    margin-right: 10px;
    font-family: "Lucida Sans Unicode", Lucida;
    font-size: 12.73px;
    color: #114165;
}

.bus-title {
    width: 146px;
    height: 25px;
    margin: 0 0 0 2px;
    border-radius: 12px;
    line-height: 27px;
    font-size: 14px;
}

.bus-title img {
    margin-left: 2px;
}

.bus-title span {
    margin-left: 1px;
}

.bus-names {
    list-style-image: url('../img/bullet.png');
    margin: -5px 0 0 52px;
}

.bus-names li {
    margin-top: 6px;
    line-height: 20px;
}

.catalogue a {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -4px;
    line-height: 15px;
    text-decoration: none;
    color: inherit;
}

.catalogue a:hover {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    border-bottom: 2px solid #486580;
}

.bus-content {
    width: 504px;
    display: flex;
    margin-top: 2px;
    padding: 17px 14px 5px 8px;
    background: #e5e7e8;
    background: linear-gradient(to bottom, #e5e7e8 0%, #93a7b0 100%);
    border-radius: 3px;
    justify-content: space-around;
    flex-flow: row wrap;
}

.bus-content a {
    width: 140px;
    display: inline-block;
    margin-bottom: 26px;
    text-decoration: none;
    text-align: center;
    font-size: 0;
}

.bus-content h1 {
    display: block;
    font-family: 'Lucida Sans Unicode', Lucida;
    font-size: 14.59px;
    font-weight: bold;
    color: #206988;
    transform: scale(1.05, 1.05);
}

.bus-content h2 {
    display: block;
    margin-left: 3px;
    font-family: 'Lucida Sans Unicode', Lucida;
    font-size: 12.27px;
    color: #1f2528;
    transform: scale(1.04, 1.04);
}

.tire-price {
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 5px;
    font-family: 'ArialMT';
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    color: #114165;
    transform: scale(1.05, 1.05);
}

.grn {
    font-size: 12px;
}

.pic {
    display: inline-block;
    width: 138px;
    height: 128px;
    border-radius: 8px;
    border-top: 1px solid #b0b9bc;
    border-right: 1px solid #ced4d6;
    border-bottom: 1px solid #a7b1b4;
    border-left: 1px solid #bdc6c8;
    box-shadow: 0 1px 0 0 #b0b9bc inset, -1px 0 0 0 #bfc6c8 inset, 0 -1px 0 0 #f9fafa inset, 1px 0 0 0 #cfd4d6 inset;
    background-color: #fff;
    vertical-align: middle;
}

.bus-content img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    vertical-align: middle;
}

.goodyear h1 {
    margin-right: 2px;
}

.goodyear h2 {
    transform: scale(1.04, 1.04);
}

.goodyear img {
    margin-top: 6px;
}

.tires-content .tire_3rd-row {
    margin-top: 1px;
    margin-bottom: 25px;
}

.nokian h1 {
    margin-left: 2px;
}

.nokian img {
    margin-left: 33px;
}

.hankook h1 {
    margin-left: 3px;
}

.hankook h2 {
    margin-right: 4px;
}

.hankook img {
    margin-left: 28px;
}

.brands {
    width: 183px;
    margin-left: 9px;
    font-family: "Lucida Sans Unicode", Lucida;
    font-size: 12.73px;
    color: #114165;
}

.brand-title, .brand-tires-title, .brand-discs-title {
    height: 24px;
    margin-top: 4px;
    padding: 1px 0 0 2px;
    line-height: 24px;
    border: 1px solid #8b979c;
    border-radius: 25px;
    text-transform: uppercase;
}

.brand-title {
    margin-bottom: 14px;
    box-shadow: 0 3px 3px 0 rgba(150, 150, 150, 0.75);
}

.brand-title img {
    margin: -1px 0 0 2px;
}

.brand-title span {
    display: inline-block;
    margin-left: 3px;
    font-size: 14px;
}

.brand-tires-title, .brand-discs-title {
    width: 132px;
    height: 25px;
    margin: 4px 0 0 15px;
    border-radius: 11px;
    line-height: 27px;
    font-size: 14px;
}

.brand-discs-title {
    width: 133px;
}

.brand-tires-title img {
    margin-left: 2px;
}

.brand-discs-title img {
    margin-left: 0;
    transform: scale(.9, 1);
}

.brand-tires-title span {
    display: inline-block;
    margin-left: 3px;
}

.brand-discs-title span {
    display: inline-block;
    margin-left: 5px;
}

.brand span {
    margin-left: 3px;
}

.brands a {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -4px;
    line-height: 15px;
    text-decoration: 0;
    color: inherit;
}

.brand-tires-names {
    list-style-image: url('../img/bullet.png');
    margin: -5px 0 0 52px;
}

.input-checkbox {
    display: none;
}

.brands > div {
    margin: 7px 0 11px 26px;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}

.checkbox-style {
    display: inline-block;
    width: 6px;
    height: 7px;
    border-top: 1px solid #1c4360;
    border-right: 1px solid #345b79;
    border-bottom: 1px solid #849bab;
    border-left: 1px solid #374e5f;
    background-color: #fff;
    box-shadow: 0 -2px 0 -1px #cfd9e0, 2px 0 0 -1px #d5dde4, 0 2px 0 -1px #809aad, -2px 0 0 -1px #819aad, 1px 2px 1px -1px #838383 inset, 2px 1px 1px -1px #a2a2a2 inset;
    font-size: 9px;
    color: #fff;
    font-weight: bold;
    padding: 0 0 0 1px;
    line-height: 7px;
}

.brand-discs-title {
    margin: 15px 0 9px 14px;
}

.checkbox-label {
    display: inline-block;
    padding: 2px 0 0 10px;
    vertical-align: top;
}

.input-checkbox:checked + .checkbox-style {
    color: #114165;
}

.chebox-tires {
    display: block;
    margin-left: 20px;
}

.chebox-tires input {
    border-color: rgb(17, 65, 101);
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.brand-tires-names li {
    margin-top: 6px;
    line-height: 20px;
}

.brand-submit {
    /*display: block;*/
    width: 82px;
    height: 27px;
    margin: 10px 0 0 24px;
    border: 1px solid rgb(167, 171, 174);
    border-radius: 11px;
    background-image: -moz-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(32, 105, 136) 0%, rgb(17, 65, 101) 59%, rgb(15, 58, 94) 85%, rgb(12, 50, 86) 100%);
    box-shadow: 3px 5px 4px -3px #bec0c1;
    color: #e5e9ea;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: .5px;
}